body {
  background-color: #F5EDF0 !important;
}
.btn-primary {
  background-color: #F77F00 !important;
}
section img {
  border-radius: 100% !important;
  margin-bottom: 10px;
  margin-top: 10px;
  float: left;
  padding: 20px;
  width: 8rem;
}
aside img{
  width: 5rem;
}
.padre {
  float: right !important;
}
.abuelo {
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.card-header{
  border-color: #F77F00 !important;
  font-weight: bold;
}
