body {
  background-color: #F5EDF0 !important;
}
header {
  background-color: #464655;
  padding-top: 1rem;
  padding-bottom: 2.5rem;
  color: white !important;
}
.logo {
  background-position: left;
  width: 4rem;
  margin-right: 5%;
}
.menuLink {
  background-position: center;
  font-size: 18px;
  font-weight: bold;
  margin-left:5px;
  text-decoration: none;
  color: white;
  margin-right: 2rem;
}
.menuLink:hover {
  text-decoration: none;
  color: #F77F00;
}
footer {
  background-color:#464655;
  padding: 0.5rem;
}
