header{
  overflow: hidden;
}
header a {
  float: right;
  margin-left: 8px;
}
a{
  text-decoration: none;
  color:white;
}
#home{
  margin-right:15px;
}
article{
  margin-top: 10px;
  border: 1px solid black;
}
/*foto y bbanner*/
#mi-foto{
  margin-top: 30px;
  border-radius: 50%;
  height:50%;
}
#banner{
margin-top: 30px;
height: 70%;
}

section #fotos-amigos{
  border: solid 1px black;
  background-color: yellow;
}
section div #amigo{
  border-radius: 50%;
}
section #publicaciones{
  display: flex;
}
#mi-foto-publicaciones{
  margin-bottom: 2px;
  margin-top: 2px;
  border-radius:50%;
  float: left;
}
footer{
  margin-top: 5px;
}
