body {
  background-color: #F5EDF0 !important;
}
.out {
  text-decoration: none;
  margin-left: 0.5rem;
  color: black;
}
.out:hover {
  text-decoration: none;
  color: black;
}
.logo {
  width: 3rem;
  display: block;
  margin-left: 1rem;
  margin-top: 0.2rem;
}
.menuLink {
  background-position: center;
  text-decoration: none;
  color: white;
}
.menuLink:hover {
  text-decoration: none;
  color: #F77F00;
}
