body {
  background-color: #F5EDF0 !important;
}
header {
  background-color: #464655;
  padding-bottom: 3.5rem;
  color: white !important;
}
.logo {
  width: 3rem;
  display: block;
  margin-left: 1rem;
  margin-top: 0.2rem;
}
.menuLink {
  background-position: center;
  font-size: 18px;
  font-weight: bold;
  margin-left:5px;
  text-decoration: none;
  color: white;
  margin-right: 1rem;
  margin-top: 0.7rem;
}
.menuLink:hover {
  text-decoration: none;
  color: #F77F00;
}
footer {
  background-color:#464655;
}
